<article>
    <div class="col1">
        {{ content.field_image }}
    </div>
    <div class="col2">
        {{ title_prefix }}
        <h2><a href="{{ url }}">{{ label }}</a></h2>
        {{ title_suffix }}
        {{ content|without('field_image') }}
    </div>
</article>
